<div id="chart" ng-controller="chartCTRL">
			<table class="table table-hover">
			<caption class="text-center">Twoje zamówienie</caption>
			<thead>
		      <tr>
		        <th>Nazwa</th>
		        <th>Cena</th>
		      </tr>
  		   </thead>
  		   <tbody>
		      <tr>
		        <td>Kluski</td>
		        <td>22.00</td>
		      </tr>
		      <tr>
		        <td>Sushi</td>
		        <td>19.00</td>
		      </tr>
		      <tr>
		        <td>Kebab</td>
		        <td>13.00</td>
		      </tr>
		      <tr class="success">
		        <td>{{hello}}</td>
		        <td>{{hello}}</td>
		       </tr>
	      </tbody>
			</table>
		<span class="btn btn-md btn-info">Przejdź do płacenia</span>
		</div> <!-- chart -->
