<div id="chart" ng-controller="chartCTRL">
			<table class="table table-hover">
			<caption class="text-center">Twoje zamówienie</caption>
			<thead>
		      <tr>
		        <th>Nazwa</th>
		        <th>Cena</th>
		        <th>Usuń</th>
		      </tr>
  		   </thead>
  		   <tbody>
		      <tr ng-repeat="order in orderedList track by $index">
		        <td>{{order.name}}</td>
		        <td>{{order.prize}}zł</td>
		        <td><img ng-click="deleteOrder($index)" class="img-responsive" src="images/redSign.png" alt='usun zamowienie'></td>
		      </tr>
		     	<tr class="success">
		        <td>Razem:</td>
		        <td>{{totalPrize}}.00zł</td>
		        <td></td>
		       </tr>
	      </tbody>
			</table>

		<span ng-click="goAndPay()" class="btn btn-md btn-info">Przejdź do płacenia</span>
		</div> <!-- chart -->
