<article>
<div class="container">
<h2 class="text-center">Zamawianie jedzenia nie było nigdy prostsze!</h2><br>
<h4 class="text-center"><span>Tylko 4 kroki do wykonania</span></h4>

<section id="steps" class="row">
	<div class="col-xs-3">
		<div class="ball text-center"><span class="glyphicon glyphicon-star"></span>
		<br>Wybierz</div>
		<div class="arrow"></div>
	</div>
	<div class="col-xs-3">
		<div class="ball text-center"><span class="glyphicon glyphicon-shopping-cart"></span>
		<br>Zamów</div>
		<div class="arrow"></div>
	</div>
	<div class="col-xs-3">
		<div class="ball text-center"><span class="glyphicon glyphicon-usd"></span>
		<br>Zapłać</div>
		<div class="arrow"></div>
	</div>
	<div class="col-xs-3">
		<div class="ball text-center"><span class="glyphicon glyphicon-heart"></span>
		<br>Częstuj się!</div>

	</section>

<br>
<br>
<br>
<br>
<br>
<h4><span>Wybierz swoje ulubione jedzenie</span></h4>

<section id="food_photos">
	<ul>
		<li><img src="images/pizza.jpg" alt="pizza">
			<div class="order">
			<h2>Pizza</h2>
			<br>
			<a ng-click="changeView('pizza')">Złóż zamówienie</a>
			</div>
		</li>
		<li><img src="images/sushi.jpg" alt="sushi">
			<div class="order">
			<h2>Sushi</h2>
			<br>
			<a ng-click="changeView('sushi')">Złóż zamówienie</a>
			</div>
		</li>
		<li><img src="images/slaskie.jpg" alt="slasnkie kluski">
			<div class="order">
			<h2>Kuchnia Polska</h2>
			<br>
			<a ng-click="changeView('polish')">Złóż zamówienie</a>
			</div>
		</li>
		<li><img src="images/kebab.jpg" alt="kebab">
			<div class="order">
			<h2>Kebab</h2>
			<br>
			<a ng-click="changeView('kebab')">Złóż zamówienie</a>
			</div>
		</li>
	</ul>
</section>



</div>	
</article>