<section id="payment" class="container">
	<div class="text-center">
	<h1 class="text-center">Zamówienie</h1>
	<h4>Wybrane przysmaki:</h4>
	</div>
	<h4 class="text-center">Podaj daje kontaktowe:</h4>
	<form class="form-horizontal">
	<label for="#name">Imie:</label>
	<input type="text" id="name" class="form-control">
	<label for="#familyName">Nazwisko:</label>
	<input type="text" id="familyName" class="form-control">
	<label for="#address">Adres:</label>
	<input type="text" id="address" class="form-control">
	<label for="#email">Email:</label>
	<input type="email" id="email" class="form-control">
	<div class="checkbox text-center">
    <label><input value="card" name="payWay" type="radio">Płatność kartą</label>
    &nbsp
    <label><input value="cash" name="payWay" type="radio">Płatność gotówką</label>
    <br><br>
    <label for="#coments"><h4>Uwagi:</h4></label><br>
    <textarea id="coments" cols="78" rows="5"></textarea><br>
    <button type="submit" class="btn btn-lg btn-success">Potwierdź złożenie zamówienia</button>
    </div>
  </div>

		
	</form>

</section>