/*GREEN*/
body {
  font-family: 'Lato', sans-serif; }

/*HTML5 SECTIONS*/
header {
  background-image: url("/images/pizzaHeader.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 50vh;
  max-height: 50vh; }

article {
  padding-top: 7em;
  font-family: 'Lobster', cursive; }
  article h4 {
    color: #FF0000;
    text-align: center;
    border-bottom: 1px dotted #000;
    line-height: 0.1em;
    margin: 10px 0 20px; }
    article h4 span {
      background: #fff;
      padding: 0 10px; }

footer {
  background: #292929; }

/*ID ID ID*/
#steps, #food_photos {
  padding-top: 4em; }

#food_photos {
  margin-bottom: 33em; }
  #food_photos li {
    list-style: none;
    width: 24.4%;
    float: left;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: transform 0.4s, opacity 0.1s 0.3s; }
    #food_photos li:hover .order {
      opacity: 1;
      transform: translateY(0px);
      transition: transform 0.4s, opacity 0.1s 0.3s; }
    #food_photos li:hover img {
      transform: scale(1.5);
      transition: transform 0.4s, opacity 0.1s 0.3s; }
  #food_photos img {
    height: 27em; }

#foodList {
  padding-top: 2em;
  padding-bottom: 2em; }
  #foodList h1 {
    font-size: 4.2em; }

#chart {
  position: fixed;
  width: 85%;
  max-width: 25%;
  top: 7%;
  padding-top: 20em;
  padding-right: 1em; }

#footer_content {
  padding: 5em;
  color: #a6a6a6;
  min-height: 230px; }
  #footer_content li {
    display: inline-block; }
  #footer_content img {
    width: 50px;
    height: 50px;
    margin: 0px 10px 0px 10px; }

/*CLASES*/
.product {
  width: 90%;
  overflow: hidden;
  max-width: 90%;
  min-height: 14em;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  border-bottom: 1px dotted grey;
  /*h2{
  	padding-bottom: 1em;
  }*/ }
  .product:hover {
    background: #f2f2f2; }
  .product span {
    font-size: 1.3em; }
  .product .btn {
    background: #3D9970; }

.wrapper {
  color: #ffffff;
  font-size: 5em;
  padding-top: 1.3em; }

.ball {
  background: #87cfaf;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  font-size: 1.7em; }
  .ball .glyphicon {
    margin-top: 20%;
    font-size: 4em;
    text-align: center;
    color: #ffffff; }

.order {
  text-align: center;
  top: 0;
  padding: 4.3em;
  color: #ffffff;
  position: absolute;
  background: rgba(153, 214, 187, 0.85);
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: translateY(50%);
  transition: transform 0.4s, opacity 0.1s 0.3s; }
  .order a {
    text-decoration: none;
    padding: .6em .8em;
    white-space: nowrap;
    color: #ffffff;
    font-size: 1.3em;
    font-family: 'Tahoma', sans-serif;
    border: 2px solid #FF0000;
    border-radius: .5em;
    transition: all 0.3s ease-in-out; }
    .order a:hover {
      background: #FF0000; }

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 50px;
  margin-left: 220px;
  margin-top: -128px;
  border-color: transparent transparent transparent #ff4d4d;
  top: 200px;
  bottom: 0; }

/*MEDIAS*/
@media only screen and (max-width: 1000px) {
  #chart {
    padding-top: 1em;
    padding-bottom: 2em;
    padding-right: 0;
    max-width: 80%;
    position: relative; } }
@media only screen and (max-width: 850px) {
  #food_photos li {
    width: 50%; } }
@media only screen and (max-width: 550px) {
  #food_photos li {
    width: 100%; } }

/*# sourceMappingURL=foodStyles.css.map */
